openapi: 3.0.3
info:
  title: Open Mic API
  version: 1.0.0
  description: Canonical API contract. All paths are relative to the /api base URL.
    The public media deep-link page (`/media/:mediaId`) is intentionally not part of
    this document — like the `/@:handle` vanity resolver it is served outside `/api`
    as server-rendered SPA HTML with Open Graph tags, not as a JSON operation.
servers:
  - url: https://api.openmics.org/api
    description: Production
tags:
  - name: Auth
  - name: Accounts
  - name: Profiles
  - name: Handles
  - name: Open Mics
  - name: Events
  - name: Registrations
  - name: Performances
  - name: Media
  - name: Admin
  - name: Geocoding
paths:
  /openapi.json:
    get:
      tags:
        - Auth
      operationId: getOpenApiDocument
      summary: Get the canonical OpenAPI document
      responses:
        "200":
          description: OpenAPI document
          content:
            application/json:
              schema:
                type: object
  /auth/profile:
    get:
      tags:
        - Auth
      operationId: getAuthProfile
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/AccountResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /me:
    get:
      tags:
        - Accounts
      operationId: getMe
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/AccountResponse"
  /me/permissions:
    get:
      tags:
        - Accounts
      operationId: getMyPermissions
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/ProfileQuery"
      responses:
        "200":
          $ref: "#/components/responses/PermissionResponse"
  /accounts/{id}:
    patch:
      tags:
        - Accounts
      operationId: updateAccount
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        $ref: "#/components/requestBodies/AccountUpdate"
      responses:
        "200":
          $ref: "#/components/responses/AccountResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "403":
          $ref: "#/components/responses/Forbidden"
  /accounts/{id}/profiles:
    get:
      tags:
        - Accounts
      operationId: listAccountProfiles
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          $ref: "#/components/responses/ProfileListResponse"
  /accounts/{id}/current-profile:
    put:
      tags:
        - Accounts
      operationId: setCurrentProfile
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        $ref: "#/components/requestBodies/CurrentProfile"
      responses:
        "200":
          $ref: "#/components/responses/ProfileResponse"
  /me/claimable-registrations:
    get:
      tags:
        - Registrations
      operationId: listClaimableRegistrations
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/RegistrationListResponse"
  /me/registrations:
    get:
      tags:
        - Registrations
      operationId: listMyRegistrations
      description: Lists registrations owned by the given account-owned profile, across all events. Used to show "already registered" status.
      security:
        - bearerAuth: []
      parameters:
        - name: profile
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          $ref: "#/components/responses/RegistrationListResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
  /profiles:
    get:
      tags:
        - Profiles
      operationId: listProfiles
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          $ref: "#/components/responses/ProfileListResponse"
    post:
      tags:
        - Profiles
      operationId: createProfile
      description: Performer profiles receive a handle (requested or auto-generated). Organizer profiles never receive a handle; sending `handle` with `profile_kind=organizer` is rejected with 400.
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/ProfileCreate"
      responses:
        "201":
          $ref: "#/components/responses/ProfileResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/HandleConflict"
  /profiles/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags:
        - Profiles
      operationId: getProfile
      responses:
        "200":
          $ref: "#/components/responses/ProfileResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags:
        - Profiles
      operationId: deleteProfile
      description: An account cannot delete its currently selected profile (`CURRENT_PROFILE`) or its last remaining profile (`LAST_PROFILE`). Platform admins deleting another account's profile are exempt from the current-profile rule.
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Profile soft-deleted
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/ProfileDeleteConflict"
    patch:
      tags:
        - Profiles
      operationId: updateProfile
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/ProfileUpdate"
      responses:
        "200":
          $ref: "#/components/responses/ProfileResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "403":
          $ref: "#/components/responses/Forbidden"
  /profiles/{id}/media:
    get:
      tags:
        - Media
      operationId: listProfileMedia
      description: Lists event media attributed to registrations that currently adopt this performer profile. Media cannot be uploaded directly to a profile. Returns an empty page when the profile owner has turned off `show_gig_media`; a private or deleted profile behaves like GET /profiles/{id} (404).
      parameters:
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/MediaTypeFilter"
        - $ref: "#/components/parameters/MediaSort"
        - $ref: "#/components/parameters/MediaSeed"
        - $ref: "#/components/parameters/MediaAnchor"
        - $ref: "#/components/parameters/MediaCursor"
        - $ref: "#/components/parameters/MediaLimit"
      responses:
        "200":
          $ref: "#/components/responses/MediaListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
  /open-mics/{id}/media:
    get:
      tags:
        - Media
      operationId: listOpenMicMedia
      description: Lists free-standing media uploaded to this open-mic series together with visible media from its published events. Hidden while the series itself is not publicly visible.
      parameters:
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/MediaTypeFilter"
        - $ref: "#/components/parameters/MediaSort"
        - $ref: "#/components/parameters/MediaSeed"
        - $ref: "#/components/parameters/MediaAnchor"
        - $ref: "#/components/parameters/MediaCursor"
        - $ref: "#/components/parameters/MediaLimit"
        - $ref: "#/components/parameters/MediaExcludeFeatured"
      responses:
        "200":
          $ref: "#/components/responses/MediaListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags:
        - Media
      operationId: addOpenMicMedia
      description: Adds free-standing media directly to an open-mic series. Series media cannot carry performer attribution (`registration_id` is rejected). `open_mic_id` in the body, when present, must match the path.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        $ref: "#/components/requestBodies/MediaCreate"
      responses:
        "201":
          $ref: "#/components/responses/MediaResponse"
        "400":
          $ref: "#/components/responses/MediaBadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/MediaConflict"
  /open-mics/{id}/featured-media:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags:
        - Media
      operationId: listFeaturedMedia
      description: Lists this series' pinned featured media in the organizer's manual order. Empty when nothing is pinned or when the series is not publicly visible; pins to media that is no longer visible are dropped from the response.
      responses:
        "200":
          $ref: "#/components/responses/FeaturedMediaResponse"
    put:
      tags:
        - Media
      operationId: replaceFeaturedMedia
      description: Atomically replaces this series' featured pins with the given ordered list. Owner-authenticated. Every id must reference visible media scoped to this series or one of its events; hidden, soft-deleted, or consent-revoked media is rejected with `MEDIA_FEATURED_INVALID`.
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/FeaturedMediaUpdate"
      responses:
        "200":
          $ref: "#/components/responses/FeaturedMediaResponse"
        "400":
          $ref: "#/components/responses/MediaBadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /handles/check/{candidate}:
    get:
      tags:
        - Handles
      operationId: checkHandleAvailability
      parameters:
        - $ref: "#/components/parameters/Candidate"
      responses:
        "200":
          $ref: "#/components/responses/AvailabilityResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
  /geocoding/search:
    get:
      tags:
        - Geocoding
      operationId: searchGeocode
      summary: Forward-geocode an address query into candidate coordinates
      description: Server-side proxy over the configured geocoding provider (LocationIQ).
        Used by the map location picker to move the map/marker as an organizer types an
        address. Requires authentication and is throttled server-side to stay within the
        provider's shared rate limit.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/GeocodeQuery"
      responses:
        "200":
          $ref: "#/components/responses/GeocodeSearchResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/GeocodingRateLimited"
        "503":
          $ref: "#/components/responses/GeocodingUnavailable"
  /geocoding/reverse:
    get:
      tags:
        - Geocoding
      operationId: reverseGeocode
      summary: Reverse-geocode coordinates into a candidate address
      description: Server-side proxy over the configured geocoding provider (LocationIQ).
        Used by the map location picker to optionally suggest address text after an
        organizer drags the map marker. Requires authentication and is throttled
        server-side to stay within the provider's shared rate limit.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/GeocodeLat"
        - $ref: "#/components/parameters/GeocodeLng"
      responses:
        "200":
          $ref: "#/components/responses/GeocodeReverseResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/GeocodingRateLimited"
        "503":
          $ref: "#/components/responses/GeocodingUnavailable"
  /open-mics:
    get:
      tags:
        - Open Mics
      operationId: listOpenMics
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Country"
        - $ref: "#/components/parameters/City"
        - $ref: "#/components/parameters/Activity"
        - $ref: "#/components/parameters/Tag"
        - $ref: "#/components/parameters/Near"
        - $ref: "#/components/parameters/Radius"
        - $ref: "#/components/parameters/MinRating"
        - $ref: "#/components/parameters/RegistrationMode"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          $ref: "#/components/responses/OpenMicListResponse"
    post:
      tags:
        - Open Mics
      operationId: createOpenMic
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/OpenMicCreate"
      responses:
        "201":
          $ref: "#/components/responses/OpenMicResponse"
        "403":
          $ref: "#/components/responses/PlanLimitExceeded"
        "409":
          $ref: "#/components/responses/HandleConflict"
  /me/open-mics:
    get:
      tags:
        - Open Mics
      operationId: listMyOpenMics
      description: Lists every non-deleted series owned by the given profile, regardless of status (including draft/paused/ended). Unlike GET /open-mics (the public directory, which always excludes draft/ended), this always requires the caller to own the profile for the organizer's own dashboard, so a just-created draft series is visible immediately.
      security:
        - bearerAuth: []
      parameters:
        - name: owner_profile_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          $ref: "#/components/responses/OpenMicListResponse"
  /open-mics/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags:
        - Open Mics
      operationId: getOpenMic
      responses:
        "200":
          $ref: "#/components/responses/OpenMicResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags:
        - Open Mics
      operationId: deleteOpenMic
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Open mic soft-deleted
    patch:
      tags:
        - Open Mics
      operationId: updateOpenMic
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/OpenMicUpdate"
      responses:
        "200":
          $ref: "#/components/responses/OpenMicResponse"
  /open-mics/{id}/events:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags:
        - Events
      operationId: listOpenMicEvents
      responses:
        "200":
          $ref: "#/components/responses/EventListResponse"
    post:
      tags:
        - Events
      operationId: createEvent
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/EventCreate"
      responses:
        "201":
          $ref: "#/components/responses/EventResponse"
        "403":
          $ref: "#/components/responses/PlanLimitExceeded"
  /open-mics/{id}/next-event:
    get:
      tags:
        - Events
      operationId: getNextEvent
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          $ref: "#/components/responses/NextEventResolutionResponse"
        "404":
          $ref: "#/components/responses/NotFound"
  /open-mics/{id}/kiosk-backup-pin:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags:
        - Open Mics
      operationId: getKioskBackupPinStatus
      summary: Whether this series has a kiosk backup PIN configured
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/KioskBackupPinStatusResponse"
    put:
      tags:
        - Open Mics
      operationId: setKioskBackupPin
      summary: Set (or replace) this series' kiosk backup PIN
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/KioskBackupPinSet"
      responses:
        "200":
          $ref: "#/components/responses/KioskBackupPinStatusResponse"
  /open-mics/{id}/kiosk-backup-pin/reveal:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags:
        - Open Mics
      operationId: revealKioskBackupPin
      summary: Explicitly reveal this series' configured kiosk backup PIN
      description: Owner-authenticated. Returns the stored PIN only on explicit request and disables caching.
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/KioskBackupPinRevealResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/KioskBackupPinNotConfigured"
  /open-mics/{id}/kiosk-backup-pin/verify:
    post:
      tags:
        - Open Mics
      operationId: verifyKioskBackupPin
      summary: Check an entered PIN against this series' configured kiosk backup PIN
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        $ref: "#/components/requestBodies/KioskBackupPinSet"
      responses:
        "200":
          $ref: "#/components/responses/KioskBackupPinVerifyResponse"
  /events/upcoming:
    get:
      tags:
        - Events
      operationId: listUpcomingEvents
      parameters:
        - $ref: "#/components/parameters/Near"
        - $ref: "#/components/parameters/Radius"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          $ref: "#/components/responses/EventListResponse"
  /events/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags:
        - Events
      operationId: getEvent
      description: Unpublished events (or events in an inactive series) are returned only to the owner, or to callers supplying a valid `kiosk_token` for this event.
      parameters:
        - name: kiosk_token
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/EventResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags:
        - Events
      operationId: updateEvent
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/EventUpdate"
      responses:
        "200":
          $ref: "#/components/responses/EventResponse"
        "403":
          $ref: "#/components/responses/PlanLimitExceeded"
    delete:
      tags:
        - Events
      operationId: deleteEvent
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Event soft-deleted
  /events/{id}/recover:
    post:
      tags:
        - Events
      operationId: recoverEvent
      description: Restores a soft-deleted event owned by the caller's organizer
        profile, within the standard 30-day recovery window. Returns 404 once
        the window has elapsed or the event was never deleted.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          $ref: "#/components/responses/EventResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /events/{id}/registrations:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags:
        - Registrations
      operationId: listEventRegistrations
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/RegistrationListResponse"
    post:
      tags:
        - Registrations
      operationId: createRegistration
      requestBody:
        $ref: "#/components/requestBodies/RegistrationCreate"
      responses:
        "201":
          $ref: "#/components/responses/RegistrationResponse"
        "403":
          $ref: "#/components/responses/KioskTokenInvalid"
        "409":
          $ref: "#/components/responses/CapacityError"
        "429":
          $ref: "#/components/responses/RateLimited"
  /events/{id}/kiosk-registration-token:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags:
        - Events
      operationId: createKioskRegistrationToken
      summary: Issue a presence token for the kiosk's phone-registration QR code
      description: >-
        Owner-only. The token is bound to this event and valid until the event ends. A registration
        carrying it (`kiosk_token`) is treated as proof of presence: it bypasses registration mode,
        publication, phase, capacity, and closure checks, still enforces duplicate-email rules, and is
        verified immediately with `submission_channel` and `verification_method` set to `kiosk_qr`.
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/KioskRegistrationTokenResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
  /events/{id}/roster/stream-token:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      tags:
        - Events
      operationId: createRosterStreamToken
      summary: Issue a short-lived, single-purpose token for the roster SSE stream (Milestone 2)
      description: >-
        EventSource cannot send an Authorization header, so the client exchanges its bearer token for a
        short-lived (5 minute) stream token here, then passes it as the `stream_token` query parameter on
        `GET /events/{id}/roster/stream`. See decisions.md Live updates for the full contract.
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/RosterStreamTokenResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
  /events/{id}/roster/stream:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags:
        - Events
      operationId: streamRoster
      summary: Server-sent event stream of roster changes for one event (Milestone 2)
      description: >-
        `text/event-stream` response. Event names: `registration.created`, `registration.updated`,
        `performance.created`, `performance.updated`, `performance.deleted`, `performance.reordered`, plus a
        heartbeat comment every 15s. Each event carries an `id:` field. No durable event log is kept, so a
        resumed connection (any `Last-Event-ID` header present) always receives an immediate `resync_required`
        event instructing the client to refetch `GET /events/{id}/registrations` in full before it resumes
        live-tailing there is no partial replay. See decisions.md Live updates.
      parameters:
        - name: stream_token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: text/event-stream of roster change events
        "403":
          $ref: "#/components/responses/Forbidden"
  /events/{id}/media:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags:
        - Media
      operationId: listEventMedia
      description: Lists visible media for this event. Public only while the event is published in an active series; media staged on a draft event stays hidden until publication.
      parameters:
        - $ref: "#/components/parameters/MediaTypeFilter"
        - $ref: "#/components/parameters/MediaSort"
        - $ref: "#/components/parameters/MediaSeed"
        - $ref: "#/components/parameters/MediaAnchor"
        - $ref: "#/components/parameters/MediaCursor"
        - $ref: "#/components/parameters/MediaLimit"
      responses:
        "200":
          $ref: "#/components/responses/MediaListResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags:
        - Media
      operationId: addEventMedia
      description: Adds media to this event (photos via `object_key` from the upload-url flow, videos via an allowlisted `video_url`). Organizer-owner only. `event_id` in the body, when present, must match the path.
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/MediaCreate"
      responses:
        "201":
          $ref: "#/components/responses/MediaResponse"
        "400":
          $ref: "#/components/responses/MediaBadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/MediaConflict"
  /registrations/edit:
    get:
      tags:
        - Registrations
      operationId: resolveRegistrationEditLink
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Registration and short-lived edit session established
          headers:
            Set-Cookie:
              description: Secure, HttpOnly, SameSite=Lax edit-session cookie; raw token is
                not retained.
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
                example: no-store
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Registration"
        "404":
          $ref: "#/components/responses/NotFound"
  /registrations/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags:
        - Registrations
      operationId: getRegistration
      security:
        - bearerAuth: []
        - editSession: []
      responses:
        "200":
          $ref: "#/components/responses/RegistrationResponse"
    patch:
      tags:
        - Registrations
      operationId: updateRegistration
      security:
        - bearerAuth: []
        - editSession: []
      requestBody:
        $ref: "#/components/requestBodies/RegistrationUpdate"
      responses:
        "200":
          $ref: "#/components/responses/RegistrationResponse"
    delete:
      tags:
        - Registrations
      operationId: deleteRegistration
      description: Organizer-only. Soft-deletes the registration with a 30-day
        recovery window, mirroring events/performances.
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Registration deleted
  /registrations/{id}/rotate-edit-token:
    post:
      tags:
        - Registrations
      operationId: rotateRegistrationEditToken
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          $ref: "#/components/responses/RegistrationResponse"
  /registrations/{id}/verify-email:
    post:
      tags:
        - Registrations
      operationId: verifyRegistrationEmail
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        $ref: "#/components/requestBodies/EmailVerification"
      responses:
        "200":
          $ref: "#/components/responses/RegistrationResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
  /registrations/{id}/claim:
    post:
      tags:
        - Registrations
      operationId: claimRegistration
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        $ref: "#/components/requestBodies/RegistrationClaim"
      responses:
        "200":
          $ref: "#/components/responses/RegistrationResponse"
        "409":
          $ref: "#/components/responses/ClaimConflict"
  /registrations/{id}/performances:
    get:
      tags:
        - Performances
      operationId: listRegistrationPerformances
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          $ref: "#/components/responses/PerformanceListResponse"
  /performances:
    post:
      tags:
        - Performances
      operationId: createPerformance
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/PerformanceCreate"
      responses:
        "201":
          $ref: "#/components/responses/PerformanceResponse"
  /performances/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    put:
      tags:
        - Performances
      operationId: updatePerformance
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/PerformanceUpdate"
      responses:
        "200":
          $ref: "#/components/responses/PerformanceResponse"
    delete:
      tags:
        - Performances
      operationId: deletePerformance
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Performance deleted
  /media:
    post:
      tags:
        - Media
      operationId: createMedia
      description: Commits an upload (photo) or registers a video link. Exactly one of `event_id` / `open_mic_id` must be set; `registration_id` is only valid on event media whose registration currently holds media consent.
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/MediaCreate"
      responses:
        "201":
          $ref: "#/components/responses/MediaResponse"
        "400":
          $ref: "#/components/responses/MediaBadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/MediaConflict"
  /media/upload-url:
    post:
      tags:
        - Media
      operationId: createMediaUploadUrl
      description: Reserves a photo upload slot and returns a short-lived (15 minute) presigned PUT URL with a server-generated `tmp/{accountId}/{uuid}.{ext}` object key bound to the declared Content-Type and maximum Content-Length. Photos only; `media_type=video` is rejected with `MEDIA_UPLOAD_INVALID`.
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/UploadUrl"
      responses:
        "200":
          $ref: "#/components/responses/UploadUrlResponse"
        "400":
          $ref: "#/components/responses/MediaBadRequest"
        "409":
          $ref: "#/components/responses/MediaConflict"
  /media/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      tags:
        - Media
      operationId: getMedia
      description: Public read. Hidden media (soft-deleted, consent-revoked, or on a non-public event/series) returns 404 `MEDIA_HIDDEN`; unknown ids return 404 `MEDIA_NOT_FOUND`. The owning organizer (or a platform admin) still receives the row, including soft-deleted rows inside their recovery window.
      responses:
        "200":
          $ref: "#/components/responses/MediaResponse"
        "404":
          $ref: "#/components/responses/MediaNotFound"
    patch:
      tags:
        - Media
      operationId: updateMedia
      summary: Update media metadata
      description: The organizer who owns the associated event or open-mic series may update the media. Uploader attribution is immutable. Only `caption` and `registration_id` are editable; `media_type` and the media source are immutable and rejected when present.
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/MediaUpdate"
      responses:
        "200":
          $ref: "#/components/responses/MediaResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/MediaNotFound"
        "409":
          $ref: "#/components/responses/MediaConflict"
    delete:
      tags:
        - Media
      operationId: deleteMedia
      description: The organizer who owns the associated event or open-mic series may soft-delete the media. The row enters the standard 30-day recovery window with `deletion_reason=organizer`; its bytes are purged from object storage only after the window elapses.
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Media soft-deleted
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/MediaNotFound"
  /media/{id}/recover:
    post:
      tags:
        - Media
      operationId: recoverMedia
      description: Restores a soft-deleted media item within its 30-day recovery window, preserving its original `created_at`. Owner-authenticated. Returns 410 `MEDIA_RECOVERY_EXPIRED` once the window has elapsed; media deleted with `deletion_reason=consent_revocation` is restored by restoring the registration's consent, not through this endpoint.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          $ref: "#/components/responses/MediaResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/MediaNotFound"
        "410":
          $ref: "#/components/responses/MediaGone"
  /me/media/recently-deleted:
    get:
      tags:
        - Media
      operationId: listRecentlyDeletedMedia
      description: Organizer-authenticated. Lists media soft-deleted within the recovery window across every series and event the caller owns, grouped by owning series/event, newest deletions first.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/MediaCursor"
        - $ref: "#/components/parameters/MediaLimit"
      responses:
        "200":
          $ref: "#/components/responses/RecentlyDeletedMediaResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /admin/reserved-handles:
    get:
      tags:
        - Admin
      operationId: listReservedHandles
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Tag"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          $ref: "#/components/responses/HandleListResponse"
    post:
      tags:
        - Admin
      operationId: reserveHandle
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/HandleReservation"
      responses:
        "201":
          $ref: "#/components/responses/HandleResponse"
        "409":
          $ref: "#/components/responses/HandleConflict"
  /admin/reserved-handles/{handle}:
    delete:
      tags:
        - Admin
      operationId: releaseReservedHandle
      security:
        - bearerAuth: []
      parameters:
        - name: handle
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Reservation released
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    editSession:
      type: apiKey
      in: cookie
      name: openmic_edit_session
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Candidate:
      name: candidate
      in: path
      required: true
      schema:
        type: string
        minLength: 1
    GeocodeQuery:
      name: q
      in: query
      required: true
      description: Free-text address, postcode, and/or country to forward-geocode.
      schema:
        type: string
        minLength: 1
    GeocodeLat:
      name: lat
      in: query
      required: true
      schema:
        type: number
        minimum: -90
        maximum: 90
    GeocodeLng:
      name: lng
      in: query
      required: true
      schema:
        type: number
        minimum: -180
        maximum: 180
    ProfileQuery:
      name: profile
      in: query
      schema:
        type: string
        format: uuid
    Q:
      name: q
      in: query
      schema:
        type: string
    Country:
      name: country
      in: query
      schema:
        type: string
    City:
      name: city
      in: query
      schema:
        type: string
    Activity:
      name: activity
      in: query
      schema:
        $ref: "#/components/schemas/Activity"
    Tag:
      name: tag
      in: query
      schema:
        type: string
    Near:
      name: near
      in: query
      description: Latitude and longitude as `lat,lng`.
      schema:
        type: string
        pattern: ^-?[0-9.]+,-?[0-9.]+
    Radius:
      name: radius_km
      in: query
      schema:
        type: number
        minimum: 0
    MinRating:
      name: min_rating
      in: query
      schema:
        type: number
        minimum: 0
        maximum: 5
    RegistrationMode:
      name: registration_mode
      in: query
      schema:
        $ref: "#/components/schemas/RegistrationMode"
    Sort:
      name: sort
      in: query
      schema:
        type: string
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      name: page_size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    From:
      name: from
      in: query
      schema:
        type: string
        format: date-time
    To:
      name: to
      in: query
      schema:
        type: string
        format: date-time
    MediaTypeFilter:
      name: type
      in: query
      description: Media type filter; defaults to `all`.
      schema:
        type: string
        enum:
          - all
          - photo
          - video
        default: all
    MediaSort:
      name: sort
      in: query
      description: "`newest` (default) orders by creation time; `shuffle` is a stable
        random order for the supplied `seed`; `most_liked` is accepted for forward
        compatibility and currently behaves like `newest` until reactions ship."
      schema:
        type: string
        enum:
          - newest
          - shuffle
          - most_liked
        default: newest
    MediaSeed:
      name: seed
      in: query
      description: Optional integer seed stabilizing `sort=shuffle` within a session.
      schema:
        type: integer
    MediaAnchor:
      name: anchor
      in: query
      description: Media id to center the page on (deep-link support). Returns a window
        around the anchor with both `prev_cursor` and `next_cursor` populated.
      schema:
        $ref: "#/components/schemas/Id"
    MediaCursor:
      name: cursor
      in: query
      description: Opaque keyset cursor from a previous response's `next_cursor` or
        `prev_cursor`.
      schema:
        type: string
    MediaExcludeFeatured:
      name: exclude_featured
      in: query
      description: When `true`, media pinned to the series' Featured strip are excluded
        from the page (series galleries render them once, in the strip above the grid).
        Only meaningful on `GET /open-mics/{id}/media`.
      schema:
        type: string
        enum:
          - "true"
          - "false"
    MediaLimit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 24
  requestBodies:
    AccountUpdate:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AccountUpdateRequest"
    CurrentProfile:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CurrentProfileRequest"
    ProfileCreate:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProfileCreateRequest"
    ProfileUpdate:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProfileUpdateRequest"
    OpenMicCreate:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OpenMicCreateRequest"
    OpenMicUpdate:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OpenMicUpdateRequest"
    EventCreate:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/EventCreateRequest"
    EventUpdate:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/EventUpdateRequest"
    RegistrationCreate:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RegistrationCreateRequest"
    RegistrationUpdate:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RegistrationUpdateRequest"
    RegistrationClaim:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RegistrationClaimRequest"
    EmailVerification:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/EmailVerificationRequest"
    PerformanceCreate:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PerformanceCreateRequest"
    PerformanceUpdate:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PerformanceUpdateRequest"
    MediaCreate:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/MediaCreateRequest"
    MediaUpdate:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/MediaUpdateRequest"
    FeaturedMediaUpdate:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/FeaturedMediaUpdateRequest"
    UploadUrl:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UploadUrlRequest"
    HandleReservation:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/HandleReservationRequest"
    KioskBackupPinSet:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/KioskBackupPinRequest"
  responses:
    AccountResponse:
      description: Account
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Account"
    ProfileResponse:
      description: Profile
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Profile"
    OpenMicResponse:
      description: Open mic
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OpenMic"
    KioskBackupPinStatusResponse:
      description: Whether a kiosk backup PIN is configured for this series
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/KioskBackupPinStatus"
    KioskBackupPinRevealResponse:
      description: Explicitly requested configured PIN. This response must not be cached.
      headers:
        Cache-Control:
          description: Prevents storage of the revealed PIN in caches.
          schema:
            type: string
            enum:
              - no-store
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/KioskBackupPinReveal"
    KioskBackupPinNotConfigured:
      description: No kiosk backup PIN is configured for this series
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    KioskBackupPinVerifyResponse:
      description: Whether the submitted PIN matches this series' configured kiosk backup PIN
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/KioskBackupPinVerifyResult"
    EventResponse:
      description: Event
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Event"
    NextEventResolutionResponse:
      description: Current running and next publicly registrable event for a series
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NextEventResolution"
    RegistrationResponse:
      description: Registration
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Registration"
    PerformanceResponse:
      description: Performance
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Performance"
    MediaResponse:
      description: Media
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Media"
    HandleResponse:
      description: Handle
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Handle"
    PermissionResponse:
      description: Permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PermissionSet"
    AvailabilityResponse:
      description: Availability
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Availability"
    GeocodeSearchResponse:
      description: Forward-geocode candidates
      content:
        application/json:
          schema:
            type: object
            required:
              - candidates
            properties:
              candidates:
                type: array
                items:
                  $ref: "#/components/schemas/GeocodeCandidate"
    GeocodeReverseResponse:
      description: Reverse-geocode candidate, or null if none was found
      content:
        application/json:
          schema:
            type: object
            required:
              - candidate
            properties:
              candidate:
                allOf:
                  - $ref: "#/components/schemas/GeocodeCandidate"
                nullable: true
    UploadUrlResponse:
      description: Presigned upload
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UploadUrlResponse"
    ProfileListResponse:
      description: Profiles
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProfilePage"
    OpenMicListResponse:
      description: Open mics
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OpenMicPage"
    EventListResponse:
      description: Events
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/EventPage"
    RegistrationListResponse:
      description: Registrations
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RegistrationPage"
    PerformanceListResponse:
      description: Performances
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PerformancePage"
    MediaListResponse:
      description: A page of media with opaque keyset cursors in both directions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/MediaListResponse"
    FeaturedMediaResponse:
      description: Featured media in the organizer's manual order
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/FeaturedMediaListResponse"
    RecentlyDeletedMediaResponse:
      description: Soft-deleted media across the caller's series and events, grouped by owner
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RecentlyDeletedMediaListResponse"
    HandleListResponse:
      description: Handles
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Handle"
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Forbidden:
      description: Permission denied
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    RosterStreamTokenResponse:
      description: Short-lived token for the roster SSE stream
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RosterStreamToken"
    KioskRegistrationTokenResponse:
      description: Presence token for kiosk QR phone registration
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/KioskRegistrationToken"
    KioskTokenInvalid:
      description: "`error.code` is `KIOSK_TOKEN_INVALID` when the supplied kiosk_token
        is expired, malformed, or issued for a different event."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    HandleConflict:
      description: Handle unavailable
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/HandleConflictError"
    ProfileDeleteConflict:
      description: The profile cannot be deleted. `error.code` is `CURRENT_PROFILE`
        when it is the account's currently selected profile, or `LAST_PROFILE`
        when it is the account's only remaining profile.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    CapacityError:
      description: Capacity exceeded. Never returned for kiosk sign-ups (`organizer_supervised`
        or a valid `kiosk_token`), which are exempt from capacity but still count toward it.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    ClaimConflict:
      description: Registration was already claimed by another account before this
        request completed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    RateLimited:
      description: Too many registration submissions from this source; retry later.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    GeocodingRateLimited:
      description: The geocoding provider (or the server-side proxy's shared rate
        limit) rejected the request; back off and retry later, or continue without
        geocoding assist.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    GeocodingUnavailable:
      description: Geocoding is not configured on this server (no provider API key set).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    MediaBadRequest:
      description: "`error.code` is `MEDIA_UPLOAD_INVALID` (MIME type or size outside
        the plan rules), `MEDIA_SOURCE_POLICY` (video host not allowlisted, or the
        object key is not a valid pending upload in the platform media bucket), or
        `MEDIA_FEATURED_INVALID` (featured list references unknown, hidden,
        soft-deleted, consent-revoked, or out-of-scope media)."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    MediaNotFound:
      description: "`error.code` is `MEDIA_NOT_FOUND` when no such media exists, or
        `MEDIA_HIDDEN` when it exists but is hidden from the caller (soft-deleted,
        consent-revoked, or its event/series is not publicly visible)."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    MediaConflict:
      description: "`error.code` is `MEDIA_QUOTA_EXCEEDED` (with `error.details.scope`
        = `event` or `account`) when a plan media quota is hit, or
        `MEDIA_CONSENT_REVOKED` when the target registration's media consent is revoked."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    MediaGone:
      description: "`error.code` is `MEDIA_RECOVERY_EXPIRED` once the 30-day recovery
        window has elapsed."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    PlanLimitExceeded:
      description: "`error.code` is `PLAN_LIMIT_EXCEEDED` with `error.details.scope` =
        `series` (max series per organizer reached), `event` (max events per series
        reached), or `event_capacity` (capacity above the plan maximum, or unlimited
        capacity, which the default plan rejects)."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
  schemas:
    Id:
      type: string
      format: uuid
    Timestamp:
      type: string
      format: date-time
    Activity:
      type: string
      enum:
        - singing
        - poetry
        - jam
        - trad
        - comedy
        - storytelling
        - other
    ProfileVisibility:
      type: string
      enum:
        - public
        - unlisted
        - private
    OpenMicStatus:
      type: string
      enum:
        - active
        - paused
        - ended
        - draft
    RegistrationMode:
      type: string
      enum:
        - pre_only
        - on_night_only
        - both
        - external
    RegistrationChannel:
      type: string
      enum:
        - organic
        - shared_link
        - email_reminder
        - social_ad
        - poster_qr
        - kiosk
        - kiosk_qr
        - prior
    RegistrationVisibility:
      type: string
      enum:
        - pending
        - valid
    MediaType:
      type: string
      enum:
        - photo
        - video
    ErrorEnvelope:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
            message:
              type: string
            details:
              nullable: true
              description: Machine-readable extras specific to `code` — validation field
                errors for VALIDATION_ERROR, or a `scope` discriminator for
                PLAN_LIMIT_EXCEEDED / MEDIA_QUOTA_EXCEEDED.
    HandleConflictError:
      allOf:
        - $ref: "#/components/schemas/ErrorEnvelope"
        - type: object
          properties:
            holder_type:
              type: string
              enum:
                - profile
                - open_mic
              nullable: true
            holder_id:
              allOf:
                - $ref: "#/components/schemas/Id"
              nullable: true
    Account:
      type: object
      required:
        - id
        - email
        - display_name
        - plan
        - created_at
        - updated_at
      properties:
        id:
          $ref: "#/components/schemas/Id"
        cognito_id:
          type: string
        email:
          type: string
          format: email
        display_name:
          type: string
        city:
          type: string
          nullable: true
        preferred_language:
          type: string
          nullable: true
        current_profile_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          nullable: true
        is_platform_admin:
          type: boolean
        plan:
          type: string
          enum:
            - free
            - pro
        referred_by_profile_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          nullable: true
        referred_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        created_at:
          $ref: "#/components/schemas/Timestamp"
        updated_at:
          $ref: "#/components/schemas/Timestamp"
    Profile:
      type: object
      required:
        - id
        - created_by_account_id
        - profile_name
        - visibility
        - current_handle
      properties:
        id:
          $ref: "#/components/schemas/Id"
        created_by_account_id:
          $ref: "#/components/schemas/Id"
        current_handle:
          type: string
          nullable: true
          description: Always null for organizer profiles; organizers are represented publicly by their open-mic series handles.
        profile_name:
          type: string
        profile_kind:
          type: string
          enum:
            - organizer
            - performer
        bio:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
          description: Private contact phone for the profile owner and permitted organizers; never shown in public profile reads.
        profile_image_url:
          type: string
          format: uri
          nullable: true
        theme_name:
          type: string
          nullable: true
        color_mode:
          type: string
          enum:
            - light
            - dark
          nullable: true
        visibility:
          $ref: "#/components/schemas/ProfileVisibility"
        show_gig_media:
          type: boolean
          description: Defaults to true. Controls only the derived media gallery on this
            profile's public page; event and series galleries are unaffected.
        links:
          type: array
          items:
            $ref: "#/components/schemas/ProfileLink"
        created_at:
          $ref: "#/components/schemas/Timestamp"
        updated_at:
          $ref: "#/components/schemas/Timestamp"
        deleted_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        recovery_deadline:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
    ProfileLink:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
        profile_id:
          $ref: "#/components/schemas/Id"
        type:
          type: string
          enum:
            - website
            - instagram
            - youtube
            - tiktok
            - twitter
            - facebook
            - spotify
            - bandcamp
            - email
            - phone
            - other
        url:
          type: string
        label:
          type: string
          nullable: true
        sequence:
          type: integer
    OpenMic:
      type: object
      required:
        - id
        - current_handle
        - name
        - status
      properties:
        id:
          $ref: "#/components/schemas/Id"
        public_code:
          type: string
          pattern: "^[A-Z0-9]{10}$"
          description: Short stable public identifier for URLs. The UUID id remains the internal identifier.
        owner_profile_id:
          $ref: "#/components/schemas/Id"
        current_handle:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        activities:
          type: array
          items:
            $ref: "#/components/schemas/Activity"
        tags:
          type: array
          items:
            type: string
        venue_name:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
          nullable: true
        postcode:
          type: string
          nullable: true
        city:
          type: string
        country:
          type: string
        lat:
          type: number
          minimum: -90
          maximum: 90
          nullable: true
        lng:
          type: number
          minimum: -180
          maximum: 180
          nullable: true
        time_zone:
          type: string
          example: Europe/Dublin
        schedule_summary:
          type: string
          nullable: true
        schedule_details:
          type: string
          nullable: true
        website:
          type: string
          format: uri
          nullable: true
        contact_email:
          type: string
          format: email
          nullable: true
        originals_only:
          type: boolean
        amplification_available:
          type: boolean
        age_policy:
          type: string
          enum:
            - adults_only
            - children_only
            - both
        registration_mode:
          $ref: "#/components/schemas/RegistrationMode"
        external_registration_url:
          type: string
          format: uri
          nullable: true
        entry_fee_amount:
          type: number
          nullable: true
        entry_fee_currency:
          type: string
          nullable: true
        entry_fee_note:
          type: string
          nullable: true
        status:
          $ref: "#/components/schemas/OpenMicStatus"
        rating_avg:
          type: number
          minimum: 0
          maximum: 5
        rating_count:
          type: integer
          minimum: 0
        created_at:
          $ref: "#/components/schemas/Timestamp"
        updated_at:
          $ref: "#/components/schemas/Timestamp"
    Event:
      type: object
      required:
        - id
        - open_mic_id
        - title
        - starts_at
        - time_zone
        - status
        - phase
      properties:
        id:
          $ref: "#/components/schemas/Id"
        public_code:
          type: string
          pattern: "^[A-Z0-9]{10}$"
          description: Short stable public identifier for URLs. The UUID id remains the internal identifier.
        open_mic_id:
          $ref: "#/components/schemas/Id"
        title:
          type: string
        starts_at:
          $ref: "#/components/schemas/Timestamp"
        ends_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        time_zone:
          type: string
          example: Europe/Dublin
        status:
          type: string
          enum: [draft, published]
          description: Published events are publicly visible only while their parent open mic is active.
        phase:
          type: string
          enum: [future, running, past]
          description: Derived from the server clock and the event start/end timestamps.
        registrations_closed_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        venue_name:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
          nullable: true
        postcode:
          type: string
          nullable: true
        city:
          type: string
        country:
          type: string
        lat:
          type: number
          minimum: -90
          maximum: 90
          nullable: true
        lng:
          type: number
          minimum: -180
          maximum: 180
          nullable: true
        activities:
          type: array
          items:
            $ref: "#/components/schemas/Activity"
        tags:
          type: array
          items:
            type: string
        capacity:
          type: integer
          minimum: 1
          nullable: true
        notes:
          type: string
          nullable: true
        rating_avg:
          type: number
          minimum: 0
          maximum: 5
          nullable: true
        rating_count:
          type: integer
          minimum: 0
        created_at:
          $ref: "#/components/schemas/Timestamp"
        updated_at:
          $ref: "#/components/schemas/Timestamp"
    Registration:
      type: object
      required:
        - id
        - event_id
        - performer_name
        - submission_channel
        - organizer_supervised
        - visibility_state
      properties:
        id:
          $ref: "#/components/schemas/Id"
        event_id:
          $ref: "#/components/schemas/Id"
        profile_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          nullable: true
        performer_name:
          type: string
        performer_city:
          type: string
          nullable: true
        contact_email:
          type: string
          format: email
          nullable: true
        contact_phone:
          type: string
          nullable: true
        song_names:
          type: array
          items:
            type: string
        bio:
          type: string
          nullable: true
          description: Optional short bio the performer gave at sign-up, separate from any
            profile bio (adopting a profile does not overwrite this).
        submission_channel:
          $ref: "#/components/schemas/RegistrationChannel"
        organizer_supervised:
          type: boolean
        referred_by_profile_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          nullable: true
        media_consent:
          type: boolean
        media_consent_updated_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
          description: Set whenever media_consent changes. Revocation blocks new attribution and starts reason-coded soft deletion of linked media. Restoring consent within 30 days automatically restores media deleted solely for that revocation.
        reminders_opt_in:
          type: boolean
          description: Performer opted in to being reminded about upcoming events in this
            open mic series. Never used for marketing and never shared with anyone
            else.
        email_verified_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        verification_method:
          type: string
          enum:
            - email
            - organizer_kiosk
            - kiosk_qr
            - authenticated_account
          nullable: true
        visibility_state:
          $ref: "#/components/schemas/RegistrationVisibility"
        claimed_by_account_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          nullable: true
        claimed_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        created_at:
          $ref: "#/components/schemas/Timestamp"
        updated_at:
          $ref: "#/components/schemas/Timestamp"
        adopted_profile_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          nullable: true
          description: Profile explicitly adopted by the claiming account as the public
            attribution for this registration. Distinct from profile_id (set
            only for authenticated self-serve registrations) and never set
            without claimed_by_account_id.
        performances:
          type: array
          items:
            $ref: "#/components/schemas/Performance"
          description: Populated only by the organizer roster listing
            (GET /events/{id}/registrations); omitted from every other
            Registration response.
        event_title:
          type: string
          description: Populated only by GET /me/claimable-registrations.
        event_starts_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          description: Populated only by GET /me/claimable-registrations.
        open_mic_name:
          type: string
          description: Populated only by GET /me/claimable-registrations.
    Performance:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
        registration_id:
          $ref: "#/components/schemas/Id"
        name:
          type: string
        activity:
          $ref: "#/components/schemas/Activity"
        sequence:
          type: integer
          minimum: 1
        status:
          type: string
          description: >-
            Lifecycle: registered -> present (checked in at the door) -> scheduled (agreed to go
            next) -> performing (on stage) -> performed. no_show/cancelled are manual overrides
            available from any state. A performer doing a second set gets a brand-new performance
            row rather than looping this one back to an earlier state.
          enum:
            - registered
            - present
            - scheduled
            - performing
            - performed
            - no_show
            - cancelled
        checked_in_at:
          type: string
          format: date-time
          nullable: true
          description: Set automatically (server clock) the moment status first becomes `present`.
        scheduled_at:
          type: string
          format: date-time
          nullable: true
          description: Set automatically (server clock) the moment status first becomes `scheduled`.
        started_at:
          type: string
          format: date-time
          nullable: true
          description: Set automatically (server clock) the moment status first becomes `performing`.
        finished_at:
          type: string
          format: date-time
          nullable: true
          description: Set automatically (server clock) the moment status first becomes `performed`.
        notes:
          type: string
          nullable: true
    Media:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
        media_type:
          $ref: "#/components/schemas/MediaType"
        event_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          nullable: true
        open_mic_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          nullable: true
          description: Set only for free-standing media uploaded directly to an open-mic series.
        registration_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          nullable: true
          description: Optional performer attribution. The registration must belong to event_id and have media consent. Never set for series media.
        added_by_profile_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          description: The organizer profile that uploaded the media.
        deleted_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        recovery_deadline:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        deletion_reason:
          type: string
          enum:
            - organizer
            - consent_revocation
          nullable: true
          description: Consent restoration automatically restores only rows whose deletion_reason is consent_revocation and whose recovery window remains open.
        source_url:
          type: string
          format: uri
          description: For media_type=photo, an object URL in the platform's own S3 media
            bucket (via the upload-url flow). For media_type=video, a link on an
            allowlisted host (youtube.com, youtu.be, or vimeo.com). Enforced
            server-side; arbitrary hosts are rejected.
        mime_type:
          type: string
          nullable: true
        size_bytes:
          type: integer
          nullable: true
        caption:
          type: string
          nullable: true
        thumbnail_url:
          type: string
          format: uri
          nullable: true
          description: Photos leave this null (renditions cover display); videos carry
            the provider-CDN thumbnail derived from video_platform + platform_video_id.
        width:
          type: integer
          nullable: true
          description: Intrinsic pixel width of the original photo. Null until the
            renditions pipeline reports back; always null for videos.
        height:
          type: integer
          nullable: true
          description: Intrinsic pixel height of the original photo (same timing as `width`).
        duration_seconds:
          type: integer
          nullable: true
          description: Videos only; null when the provider does not expose a duration.
        video_platform:
          type: string
          enum:
            - youtube
            - vimeo
          nullable: true
          description: Set for media_type=video only.
        platform_video_id:
          type: string
          nullable: true
          description: Canonical video ID on `video_platform`.
        alt_text:
          type: string
          description: Always present. The substituted caption when one resolves,
            otherwise a server-derived fallback (e.g. `Photo from {event_name}`). Used
            as photo alt text and in social unfurl output.
        attribution:
          type: object
          nullable: true
          description: Performer attribution display values. Null for free-standing
            media. When the linked registration currently adopts a live performer
            profile, the display name/handle come from that profile; otherwise the
            publish-time registration snapshot is shown.
          properties:
            performer_name:
              type: string
            performer_city:
              type: string
              nullable: true
            profile_id:
              allOf:
                - $ref: "#/components/schemas/Id"
              nullable: true
            profile_handle:
              type: string
              nullable: true
              description: Set when attribution resolves to a live adopted profile; the
                performer name links to `/@handle`.
        caption_context:
          type: object
          description: Substitution values for client-side caption rendering and
            localized default captions (the raw `caption` template may contain
            `{performer_name}`, `{performer_city}`, `{event_name}`, `{event_date}`
            tokens).
          properties:
            event_name:
              type: string
              nullable: true
            event_starts_at:
              allOf:
                - $ref: "#/components/schemas/Timestamp"
              nullable: true
            event_time_zone:
              type: string
              nullable: true
            series_name:
              type: string
              nullable: true
        renditions:
          $ref: "#/components/schemas/MediaRenditions"
        created_at:
          $ref: "#/components/schemas/Timestamp"
    Handle:
      type: object
      properties:
        handle:
          type: string
        entity_type:
          type: string
          enum:
            - profile
            - open_mic
          nullable: true
        profile_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          nullable: true
        open_mic_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          nullable: true
        status:
          type: string
          enum:
            - current
            - redirect
            - quarantined
            - reserved
            - available
            - tombstoned
        redirects_to_handle:
          type: string
          nullable: true
        redirect_expires_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        quarantine_expires_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
        reserved_category:
          type: string
          nullable: true
        reserved_reason:
          type: string
          nullable: true
        created_at:
          $ref: "#/components/schemas/Timestamp"
        retired_at:
          allOf:
            - $ref: "#/components/schemas/Timestamp"
          nullable: true
    PermissionSet:
      type: object
      properties:
        permissions:
          type: array
          items:
            type: string
    Availability:
      type: object
      required:
        - available
      properties:
        available:
          type: boolean
        reason:
          type: string
          enum:
            - reserved
            - in_use
            - invalid_format
            - redirect
            - quarantined
            - tombstoned
          nullable: true
    GeocodeCandidate:
      type: object
      required:
        - label
        - lat
        - lng
      properties:
        label:
          type: string
          description: Human-readable formatted address returned by the geocoding provider.
        lat:
          type: number
          minimum: -90
          maximum: 90
        lng:
          type: number
          minimum: -180
          maximum: 180
    Pagination:
      type: object
      properties:
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer
    UploadUrlResponse:
      type: object
      properties:
        upload_url:
          type: string
          format: uri
        object_key:
          type: string
        expires_at:
          $ref: "#/components/schemas/Timestamp"
    RosterStreamToken:
      type: object
      properties:
        stream_token:
          type: string
        expires_at:
          $ref: "#/components/schemas/Timestamp"
    KioskRegistrationToken:
      type: object
      required:
        - kiosk_token
        - expires_at
      properties:
        kiosk_token:
          type: string
        expires_at:
          $ref: "#/components/schemas/Timestamp"
    ProfilePage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Profile"
        pagination:
          $ref: "#/components/schemas/Pagination"
    OpenMicPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/OpenMic"
        pagination:
          $ref: "#/components/schemas/Pagination"
    EventPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Event"
        pagination:
          $ref: "#/components/schemas/Pagination"
    RegistrationPage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Registration"
        pagination:
          $ref: "#/components/schemas/Pagination"
    PerformancePage:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Performance"
        pagination:
          $ref: "#/components/schemas/Pagination"
    MediaListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Media"
        prev_cursor:
          type: string
          nullable: true
          description: Opaque keyset cursor towards newer items; null at the start of the list.
        next_cursor:
          type: string
          nullable: true
          description: Opaque keyset cursor towards older items; null at the end of the list.
    MediaRendition:
      type: object
      properties:
        url:
          type: string
          format: uri
        width:
          type: integer
        height:
          type: integer
        mime_type:
          type: string
        size_bytes:
          type: integer
    MediaRenditions:
      type: object
      nullable: true
      description: Named photo renditions (`thumb` 400px, `grid` 800px, `lightbox`
        2048px short side — all webp — plus `original`). Null until the renditions
        pipeline has processed the upload, and always null for videos; clients fall
        back to `source_url` / `thumbnail_url`.
      properties:
        thumb:
          $ref: "#/components/schemas/MediaRendition"
        grid:
          $ref: "#/components/schemas/MediaRendition"
        lightbox:
          $ref: "#/components/schemas/MediaRendition"
        original:
          $ref: "#/components/schemas/MediaRendition"
    FeaturedMediaListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Media"
          description: Featured items in the organizer's manual order.
    RecentlyDeletedMediaGroup:
      type: object
      properties:
        open_mic_id:
          $ref: "#/components/schemas/Id"
        open_mic_name:
          type: string
        event_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          nullable: true
        event_title:
          type: string
          nullable: true
        items:
          type: array
          items:
            $ref: "#/components/schemas/Media"
    RecentlyDeletedMediaListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/RecentlyDeletedMediaGroup"
          description: Soft-deleted media grouped by owning series/event, newest deletions first.
        next_cursor:
          type: string
          nullable: true
    AccountUpdateRequest:
      type: object
      properties:
        display_name:
          type: string
        city:
          type: string
        preferred_language:
          type: string
    CurrentProfileRequest:
      type: object
      required:
        - profile_id
      properties:
        profile_id:
          $ref: "#/components/schemas/Id"
    ProfileCreateRequest:
      type: object
      required:
        - profile_name
        - profile_kind
      properties:
        handle:
          type: string
          description: Performer profiles only. Rejected for organizer profiles.
        profile_name:
          type: string
        profile_kind:
          type: string
          enum:
            - organizer
            - performer
        bio:
          type: string
        profile_image_url:
          type: string
          format: uri
          nullable: true
        phone:
          type: string
          nullable: true
        visibility:
          $ref: "#/components/schemas/ProfileVisibility"
        show_gig_media:
          type: boolean
          description: Defaults to true when omitted.
        theme_name:
          type: string
        color_mode:
          type: string
          enum:
            - light
            - dark
        links:
          type: array
          items:
            $ref: "#/components/schemas/ProfileLink"
    ProfileUpdateRequest:
      type: object
      description: "`profile_kind` is immutable after creation and is not accepted here."
      properties:
        handle:
          type: string
        profile_name:
          type: string
        bio:
          type: string
        profile_image_url:
          type: string
          format: uri
          nullable: true
        phone:
          type: string
          nullable: true
        visibility:
          $ref: "#/components/schemas/ProfileVisibility"
        show_gig_media:
          type: boolean
          description: "Profile-page gallery toggle (\"Show my gig photos on my
            profile\"). Does not affect event or series galleries."
        theme_name:
          type: string
          nullable: true
        color_mode:
          type: string
          enum:
            - light
            - dark
          nullable: true
        links:
          type: array
          items:
            $ref: "#/components/schemas/ProfileLink"
    OpenMicCreateRequest:
      type: object
      required:
        - name
        - venue_name
        - address_line1
        - city
        - country
        - time_zone
      properties:
        name:
          type: string
        description:
          type: string
        handle:
          type: string
        venue_name:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
        postcode:
          type: string
        city:
          type: string
        country:
          type: string
        lat:
          type: number
          minimum: -90
          maximum: 90
        lng:
          type: number
          minimum: -180
          maximum: 180
        time_zone:
          type: string
        website:
          type: string
          format: uri
        contact_email:
          type: string
          format: email
        schedule_summary:
          type: string
        schedule_details:
          type: string
        originals_only:
          type: boolean
        amplification_available:
          type: boolean
        age_policy:
          type: string
          enum:
            - adults_only
            - children_only
            - both
        activities:
          type: array
          items:
            $ref: "#/components/schemas/Activity"
        tags:
          type: array
          items:
            type: string
        registration_mode:
          $ref: "#/components/schemas/RegistrationMode"
        external_registration_url:
          type: string
          format: uri
        entry_fee_amount:
          type: number
          minimum: 0
        entry_fee_currency:
          type: string
        entry_fee_note:
          type: string
    NextEventResolution:
      type: object
      required: [current_event, current_registration_open, next_event, next_registration_event]
      properties:
        current_event:
          allOf:
            - $ref: "#/components/schemas/Event"
          nullable: true
        current_registration_open:
          type: boolean
        next_event:
          allOf:
            - $ref: "#/components/schemas/Event"
          nullable: true
        next_registration_event:
          allOf:
            - $ref: "#/components/schemas/Event"
          nullable: true
    OpenMicUpdateRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        handle:
          type: string
        venue_name:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
        postcode:
          type: string
        city:
          type: string
        country:
          type: string
        lat:
          type: number
          minimum: -90
          maximum: 90
        lng:
          type: number
          minimum: -180
          maximum: 180
        time_zone:
          type: string
        website:
          type: string
          format: uri
        contact_email:
          type: string
          format: email
        schedule_summary:
          type: string
        schedule_details:
          type: string
        originals_only:
          type: boolean
        amplification_available:
          type: boolean
        age_policy:
          type: string
          enum:
            - adults_only
            - children_only
            - both
        activities:
          type: array
          items:
            $ref: "#/components/schemas/Activity"
        tags:
          type: array
          items:
            type: string
        registration_mode:
          $ref: "#/components/schemas/RegistrationMode"
        external_registration_url:
          type: string
          format: uri
        entry_fee_amount:
          type: number
          minimum: 0
        entry_fee_currency:
          type: string
        entry_fee_note:
          type: string
    EventCreateRequest:
      type: object
      required:
        - title
        - starts_at
        - ends_at
        - time_zone
      properties:
        title:
          type: string
        starts_at:
          $ref: "#/components/schemas/Timestamp"
        ends_at:
          $ref: "#/components/schemas/Timestamp"
        time_zone:
          type: string
        status:
          type: string
          enum: [draft, published]
        registrations_closed_at:
          type: string
          format: date-time
          nullable: true
        capacity:
          type: integer
          minimum: 1
          description: Plan-capped. The default plan rejects values above 50 — and
            rejects unlimited capacity (capacity omitted) — with PLAN_LIMIT_EXCEEDED
            (scope `event_capacity`). Kiosk sign-ups remain exempt from the configured
            capacity while still counting toward it.
        venue_name:
          type: string
          description: Part of the location snapshot. If provided, all location fields
            (venue_name, address_line1, city, country, lat, lng) must be
            provided together. If omitted, event inherits location from parent
            open mic.
        address_line1:
          type: string
        address_line2:
          type: string
        postcode:
          type: string
        city:
          type: string
        country:
          type: string
        lat:
          type: number
          minimum: -90
          maximum: 90
        lng:
          type: number
          minimum: -180
          maximum: 180
        activities:
          type: array
          items:
            $ref: "#/components/schemas/Activity"
        tags:
          type: array
          items:
            type: string
        notes:
          type: string
        entry_fee_amount:
          type: number
          minimum: 0
        entry_fee_currency:
          type: string
        entry_fee_note:
          type: string
    EventUpdateRequest:
      type: object
      properties:
        title:
          type: string
        starts_at:
          $ref: "#/components/schemas/Timestamp"
        ends_at:
          $ref: "#/components/schemas/Timestamp"
        time_zone:
          type: string
        status:
          type: string
          enum: [draft, published]
        registrations_closed_at:
          type: string
          format: date-time
          nullable: true
        capacity:
          type: integer
          minimum: 1
          description: Plan-capped. The default plan rejects values above 50 — and
            rejects clearing capacity to unlimited — with PLAN_LIMIT_EXCEEDED (scope
            `event_capacity`).
        venue_name:
          type: string
          description: Part of the location snapshot. If provided, all location fields
            (venue_name, address_line1, city, country, lat, lng) must be
            provided together. If omitted, event inherits location from parent
            open mic.
        address_line1:
          type: string
        address_line2:
          type: string
        postcode:
          type: string
        city:
          type: string
        country:
          type: string
        lat:
          type: number
          minimum: -90
          maximum: 90
        lng:
          type: number
          minimum: -180
          maximum: 180
        activities:
          type: array
          items:
            $ref: "#/components/schemas/Activity"
        tags:
          type: array
          items:
            type: string
        notes:
          type: string
        entry_fee_amount:
          type: number
          minimum: 0
        entry_fee_currency:
          type: string
        entry_fee_note:
          type: string
    RegistrationCreateRequest:
      type: object
      required:
        - performer_name
        - submission_channel
        - organizer_supervised
      properties:
        profile_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          description: Required for authenticated self-serve registrations; must reference
            a separate account-owned profile with profile_kind=performer.
        performer_name:
          type: string
        performer_city:
          type: string
        contact_email:
          type: string
          format: email
        contact_phone:
          type: string
        song_names:
          type: array
          items:
            type: string
        bio:
          type: string
        submission_channel:
          $ref: "#/components/schemas/RegistrationChannel"
        organizer_supervised:
          type: boolean
        referred_by_profile_id:
          $ref: "#/components/schemas/Id"
        media_consent:
          type: boolean
        reminders_opt_in:
          type: boolean
        kiosk_token:
          type: string
          description: Presence token from the kiosk QR code. Requires submission_channel=kiosk_qr and organizer_supervised=false; contact_email becomes optional.
    RegistrationUpdateRequest:
      type: object
      properties:
        performer_name:
          type: string
        performer_city:
          type: string
        contact_email:
          type: string
          format: email
        contact_phone:
          type: string
        song_names:
          type: array
          items:
            type: string
        bio:
          type: string
        media_consent:
          type: boolean
        reminders_opt_in:
          type: boolean
        adopted_profile_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          nullable: true
          description: Registration owner may change or clear the adopted public
            attribution after the initial claim.
    RegistrationClaimRequest:
      type: object
      required:
        - adopted_profile_id
      properties:
        adopted_profile_id:
          allOf:
            - $ref: "#/components/schemas/Id"
          description: An account-owned performer profile to adopt as the public
            attribution for this registration.
        sync_public_fields:
          type: boolean
          description: If true and adopted_profile_id is set, update performer_name and
            performer_city from the adopted profile for public event
            attribution.
        note:
          type: string
          nullable: true
    EmailVerificationRequest:
      type: object
      required:
        - token
      properties:
        token:
          type: string
    KioskBackupPinRequest:
      type: object
      description: The organizer's kiosk backup PIN in plaintext. Routine and public reads omit it; it is returned only by the explicit owner-authenticated reveal operation.
      required:
        - pin
      properties:
        pin:
          type: string
          minLength: 4
    KioskBackupPinStatus:
      type: object
      required:
        - configured
      properties:
        configured:
          type: boolean
    KioskBackupPinReveal:
      type: object
      required:
        - pin
      properties:
        pin:
          type: string
    KioskBackupPinVerifyResult:
      type: object
      required:
        - valid
      properties:
        valid:
          type: boolean
    PerformanceCreateRequest:
      type: object
      required:
        - registration_id
        - name
      properties:
        registration_id:
          $ref: "#/components/schemas/Id"
        name:
          type: string
        activity:
          $ref: "#/components/schemas/Activity"
        sequence:
          type: integer
        status:
          type: string
          enum:
            - registered
            - present
            - scheduled
            - performing
            - performed
            - no_show
            - cancelled
        notes:
          type: string
          nullable: true
    PerformanceUpdateRequest:
      type: object
      properties:
        name:
          type: string
        activity:
          allOf:
            - $ref: "#/components/schemas/Activity"
          nullable: true
        sequence:
          type: integer
          minimum: 1
        status:
          type: string
          enum:
            - registered
            - present
            - scheduled
            - performing
            - performed
            - no_show
            - cancelled
        notes:
          type: string
          nullable: true
    MediaCreateRequest:
      oneOf:
        - $ref: "#/components/schemas/PhotoMediaCreateRequest"
        - $ref: "#/components/schemas/VideoMediaCreateRequest"
      discriminator:
        propertyName: media_type
        mapping:
          photo: "#/components/schemas/PhotoMediaCreateRequest"
          video: "#/components/schemas/VideoMediaCreateRequest"
    PhotoMediaCreateRequest:
      type: object
      required:
        - media_type
        - object_key
      properties:
        media_type:
          type: string
          enum:
            - photo
        object_key:
          type: string
          description: Server-generated object key returned by POST /media/upload-url (a
            `tmp/{accountId}/{uuid}.{ext}` key). The server validates the object, moves
            it to its canonical `original/{mediaId}.{ext}` location, and composes
            `source_url` from the plan-bound media bucket. Client-supplied source URLs
            are not accepted for photos.
        caption:
          type: string
          maxLength: 500
        event_id:
          $ref: "#/components/schemas/Id"
        open_mic_id:
          $ref: "#/components/schemas/Id"
        registration_id:
          $ref: "#/components/schemas/Id"
    VideoMediaCreateRequest:
      type: object
      required:
        - media_type
        - video_url
      properties:
        media_type:
          type: string
          enum:
            - video
        video_url:
          type: string
          format: uri
          description: Link on an allowlisted host (youtube.com, youtu.be, or
            vimeo.com). The server extracts `video_platform` and `platform_video_id` and
            composes `source_url` plus the provider thumbnail; arbitrary hosts are
            rejected with `MEDIA_SOURCE_POLICY`.
        caption:
          type: string
          maxLength: 500
        event_id:
          $ref: "#/components/schemas/Id"
        open_mic_id:
          $ref: "#/components/schemas/Id"
        registration_id:
          $ref: "#/components/schemas/Id"
    MediaUpdateRequest:
      type: object
      description: Partial update. `media_type` and the media source are immutable and
        are not accepted here.
      properties:
        caption:
[...]
